.btn-primary {
    background-color: #00a2bc;
    border-color: #00a2bc;
}

body{
    background-color: #d4fffe;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-width: 2px;
    border-radius: 5px;
    border-color: #00a2bc;
    width: 100%
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a2bc;
}

.fixed-nav-bar a:hover {
    color: #000000;
}

.fixed-nav-bar a {
    color: #FFFFFF;
}

.navbar-right {
    margin-right: 25px;
	text-align: right;
}

#formulaire{
    margin-right:20%;
}



.rating a {
    float : right;
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
    color: orange;
    cursor: pointer;
}

.footer{
	/*position:fixed;*/
	left:0px;
	bottom:0px;	
	width: 100%;
    height: 50px;
    background-color: #00a2bc;
}

.footer p{
	color:white;
	text-align:center;
}

.cadreUser{
	display: inline-block;
	position: center;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: #00a2bc;
	width: 100%
}

.cadreUser .photo{
	padding:1em;
	float: left;
}

.cadreUser .descr{
	padding: 1em;
	/*float: center;*/
	
}

.cadreUser .descr .nom{
	padding: 1em;
	float: left;
	text-align: center;
	font-size: 3em;
}

.cadreUser .descr .msg{
	padding: 1em;
	float: right;
	text-align: center;
	font-size: 3em;
}

.cadreLogement{
	display: inline-block;
	position: center;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: #00a2bc;
	width: 100%
}
.photo{
	float:left;
}
 .nbPlace{
	padding: 1em;
	text-align:center;
	text-align:right;
	font-size:40px;
}

.cadreGroupe{
	display: inline-block;
	position: center;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	width: 100%;
}

.cadreGroupe .Maison{
	float: left;
	padding: 1em;
}

.cadreGroupe .Detail{
	padding: 1em;
	text-align: center;
}

.cadreGroupe .Personne{
	float: right;
	padding: 1em;
}

